<div class="col-lg-12">
  <h1>Welcome to Lstr</h1>
  <h3>Lstr is simple tool for keeping track of your shit. </h3>
  <ul>
    <li><h3>Want to keep track of your movie collection? Make a list!</h3></li>
    <li><h3>Favorite whiskeys? Make a list!</h3> </li>
    <li><h3>Recipes? lists!</h3> </li>
    <li><h2>Too many lists? Put them in LISTS!</h2></li>
  </ul>
</div>